*{
    box-sizing: border-box;
    margin: 10px;
    padding: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

html,body,.page{
    height:auto;
    min-height: 100vh;
}

div.container{
    width: 90%;
    margin: 0 auto;
}

header{
    background-color: pink;
    text-align: center;
}

div.left, div.middle, div.right{
    border: 3px dotted yellow
    width 20%
    margin-right 2%;
}

aside img{
    width: 100%;
}

aside{
    display: flex;
    justify-content: space-between;
}

nav{
    background-color: powderblue;
}

ul{
    text-align: center;
    text-decoration: dotted;
}

li{
    display: inline-block;
    width: 110px;
    border:5px solid white;
    line-height: 3em;
    font-family: 'Times New Roman', Times, serif;
    font-variant: normal;
}

li a{
    color: blue;
    display: block;
}

footer{
    color: darksalmon;
    background: fixed;
    padding: 3px;
    text-align: center;
    text-decoration: dashed;
}
