

*{
    box-sizing: border-box;
    margin: 10px;
    padding: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

html,body,.page{
    height:auto;
    min-height: 100vh;
}

div.container{
    width: 90%;
    margin: 0 auto;
}

header{
    background-color: pink;
    text-align: center;
    font-size:xx-large;   
}

.gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    justify-items: center;
}

.gallery img{
    width: 100%;
    max-width: 300px;
    height: auto;
}

nav{
    background-color: powderblue;
    
}

ul{
    text-align: center;
    display: flex;
    justify-content:center;
}

li{
    width: 16%;
    list-style-type: none;
    border: 5px solid white;
    line-height: 3em;
    font-family: 'Times New Roman', Times, serif;
    font-variant: normal;
    text-decoration: none;
}

    

li a{
    color:black;
    text-transform: uppercase;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    text-decoration: none;

}

footer{
    color: darksalmon;
    background: fixed;
    padding: 3px;
    text-align: center;
    text-decoration: dashed;
}
